.menuButton {
  transition: 0.1s;
  font-size: 1.8vw;
  background: rgb(70, 70, 70);
  color: white;
  text-shadow: 0vw 0vw 0.2vw black;
  text-align: center;
  width: 10vw;
  position: relative;
  top: 4vw;
  left: 4vw;
  margin-top: 1.5vw;
  padding: 0.25vw;
  border-radius: 0.25vw;
  box-shadow: inset 0vw 0vw 0.25vw 0.2vw rgb(45, 45, 45), -0.1vw 0.1vw 0.2vw 0.2vw rgb(20, 20, 20);
}

.menuButton:hover {
  filter: brightness(1.25);
}

.options {
  transition: 0.25s;
  content: "";
  position: absolute;
  right: -3vw;
  top: 0.675vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.5vw 1.5vw 1.5vw;
  border-color: transparent transparent #616161 transparent;
  transform: rotateZ(0deg) scale(0);
  z-index: 3;
}

#optionsMenu {
  transition: 0.35s;
  width: 18vw;
  height: 20vw;
  background: rgb(25, 25, 25);
  position: absolute;
  left: 18vw;
  top: 18.75vw;
  transform: rotate(90deg) scale(0);
  overflow: auto;
  box-sizing: border-box;
  border: 0.25vw solid black;
}

#optionsMenu div {
  transition: 0.1s;
  color: white;
  text-shadow: 0vw 0vw 0.2vw black;
  font-size: 1.25vw;
  position: relative;
  display: flex;
  margin: 1vw;
  text-align: left;
  max-height: 1.25vw;
}

#optionsMenu p {
  margin-right: 0.5vw;
  width: 1.25vw;
  height: 1.25vw;
  font-size: 1.0vw;
  background: grey;
  vertical-align: top;
  position: relative;
  bottom: 0.75vw;
  text-align: center;
}

#optionsMenu div:hover {
  filter: brightness(1.25);
}

#loadContainer {
  transition: 0.35s;
  width: 18vw;
  height: 20vw;
  background: rgb(25, 25, 25);
  position: absolute;
  left: 18vw;
  top: 14.25vw;
  transform: rotate(90deg) scale(0);
  overflow: auto;
  box-sizing: border-box;
  border: 0.25vw solid black;
}

#loadContainer p {
  transition: 0.1s;
  font-size: 1vw;
  color: white;
  width: 100%;
  white-space: pre-wrap;
  background: rgb(34, 34, 34);
}

#loadContainer p:hover {
  filter:brightness(1.25)
}

#characterCreation {
  transition: 0.35s;
  position: absolute;
  left: 18vw;
  top: 10.25vw;
  width: 62.5vw;
  height: 75vh;
  background: rgb(25, 25, 25);
  transform: rotate(90deg) scale(0);
  box-sizing: border-box;
  border: 0.25vw solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#characterCreation > * {
  margin: 1%;
}

#charName {
  font-size: 0.75vw;
  color: white;
}

#characterName {
  font-size: 0.75vw;
  color: white;
  background: rgb(50, 50, 50);
  width: 8vw;
  height: 0.8vw;
  border: none;
}

#backgroundForChar {
  width: 75%;
  height: 25%;
  background: rgb(10, 10, 10);
}

#backgroundForChar p {
  transition: 0.1s;
  width: 100%;
  font-size: 0.6vw;
  color: white;
  background: rgb(75, 75, 75);
  margin: 0vw;
  border: 0.1vw solid black;
}

.charBG-select {
  background: rgb(15, 35, 150) !important;
}

#backgroundForChar p:hover {
  filter: brightness(1.25);
}

#hardcoreBut:hover {
  filter: brightness(1.25);
} 

#startTheGame {
  transition: 0.05s;
  font-size: 1vw;
  background: rgb(0, 139, 35);
  color: white;
  text-shadow: 0vw 0vw 0.2vw black;
  width: 6vw;
  height: 1.85vw;
  text-align: center;
  border-radius: 0.25vw;
}

#startTheGame:hover {
  filter: brightness(1.25);
}

#statistics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1.5vw;
}

#statistics > p {
  color: white;
  text-shadow: 0vw 0vw 0.2vw black;
  font-size: 1.5vw;
  margin: 0.15vw;
}

#gamemode {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1.5vw;
  
}

#gamemode > div {
  box-sizing: border-box;
  width: 18.5vw;
  height: 40vh;
  color: white;
  text-shadow: 0 0 0.25vw black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 0.5vw solid rgb(58, 58, 58);
}


#gamemode > div:hover {
  filter: brightness(1.25);
}

#gamemode > div > * {
  margin-left: 10%;
}

#gamemode > div.gamemodeSelected {
  border: 0.5vw solid gold;
}