#playerWindow {
  position: relative;
  left: -0.5vw;
  top: -0.5vw;
  background: rgb(45,45,45);
  width: 25vw;
  height: 40%;
  box-shadow: inset 0px 0px 0.75vw 0.5vw rgb(30, 30, 30);
  border: 0.5vw solid rgb(10, 10, 10);
}

#playerActionbar {
  width: 20vw;
  height: 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  background: rgb(25, 25, 25);
  box-shadow: inset 0px 0px 0.25vw 0.2vw rgb(10, 10, 10);
  border-radius: 1.5vw;
  text-align: center;
}

#playerActionbar-fill {
  width: 100%;
  height: 100%;
  background:rgb(85, 165, 20);;
  background: linear-gradient(90deg, rgba(85, 165, 20,1) 0%, rgb(142, 235, 66) 10%, rgb(110, 196, 40) 25%, rgba(85, 165, 20,1) 100%);
  animation-name: BarShine;
  animation-duration: 1s;
  background-size: 200% 200%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 0px 0px 0.25vw 0.2vw rgb(60, 115, 15);
  border-radius: 1.5vw;
}

#playerActionbar-percentage {
  color: white;
  font-size: 1.75vw;
  position: absolute;
  left: 50%;
  top: -2vw;
  height: 100%;
  transform: translateX(-50%);
  text-shadow: 0px 0px 0.5vw rgb(10, 10, 10);
}

#playerHealthbar, #playerManabar {
  width: 9.5vw;
  height: 8%;
  position: absolute;
  top: 20%;
  background: rgb(25, 25, 25);
  box-shadow: inset 0px 0px 0.25vw 0.2vw rgb(10, 10, 10);
  border-radius: 0.25vw;
}

#playerHealthbar {
  left: 2.5vw;
}

#playerManabar {
  right: 2.5vw;
}

#playerHealthbar-fill, #playerManabar-fill {
  width: 100%;
  height: 100%;
  background:rgb(165, 30, 20);;
  background: linear-gradient(90deg, rgba(165, 30, 20,1) 0%, rgb(233, 74, 63) 10%, rgb(202, 53, 42) 25%, rgba(165, 30, 20,1) 100%);
  animation-name: BarShine;
  animation-duration: 1.5s;
  background-size: 200% 200%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 0px 0px 0.25vw 0.2vw rgb(107, 18, 11);
  border-radius: 0.25vw;
}

#playerManabar-fill {
  background:rgb(20, 88, 165);
  background: linear-gradient(90deg, rgba(20, 88, 165,1) 0%, rgb(101, 162, 231) 10%,rgb(69, 133, 207) 25%, rgba(20, 88, 165,1) 100%);
  box-shadow: 0px 0px 0.25vw 0.2vw rgb(12, 58, 110); 
  animation-name: BarShine;
  animation-duration: 1.5s;
  background-size: 200% 200%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#playerHealthbar-number, #playerManabar-number {
  color: white;
  font-size: 0.75vw;
  position: absolute;
  left: 50%;
  top: -0.5vw;
  height: 100%;
  transform: translateX(-50%);
  text-shadow: 0px 0px 0.5vw rgb(10, 10, 10);
  white-space: nowrap;
}

@keyframes BarShine {
	0% {
    background-position: 200% 50%;
    }
	100% {
		background-position: 0% 50%;
	}
}

#playerButtons-container {
  position: relative;
  top: -1vw;
  display: flex;
  height: 15%;
  width: 52vw;
}

#playerButtons {
  display: flex;
  position: relative;
  left: -0.5vw;
  width: 25vw;
  height: 100%;
  background: rgb(45,45,45);
  box-shadow: inset 0px 0px 0.75vw 0.5vw rgb(30, 30, 30);
  border: 0.5vw solid rgb(10, 10, 10);
}

#playerButtons div {
  transition: 0.1s;
  width: 25%;
  height: 60%;
  background: rgb(60, 60, 60);
  border-radius: 0.25vw;
  margin: 2.5%;
  margin-top: 5%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  box-shadow: inset 0px 0px 0.33vw 0.25vw rgb(40, 40, 40), 0px 0px 0vw 0vw white;
  border: 0.2vw solid rgba(10, 10, 10, 0.75);
  box-sizing: border-box;
}

#playerButtons div:hover {
  background: rgb(80, 80, 80);
  box-shadow: inset 0px 0px 0.33vw 0.25vw rgb(60, 60, 60), 0px 0px 0.2vw 0.2vw white;
  border: 0.2vw solid rgba(100, 100, 100, 0.5);
}

#playerButtons div>p {
  font-size: 1.75vw;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  width: 100%;
  text-shadow: 0px 0px 0.25vw rgb(10, 10, 10);
}

#playerButtons-open {
  transition: 0.55s;
  height: 115%;
  background: rgb(45,45,45);
  box-shadow: inset 0px 0px 0.75vw 0.5vw rgb(30, 30, 30);
  position: relative;
  left: -1vw;
  box-sizing: border-box;
}

.slider--closed {
  width: 0vw;
  border: 0.0vw solid rgb(10, 10, 10);
  border-width: 0.5vw 0vw 0.5vw 0vw;
}

.slider--open {
  width: 25vw;
  border: 0.5vw solid rgb(10, 10, 10);
}